
.innerBorder {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div#wrapperDiv {
    margin: 0 auto;
    height: 627px;
    width: 100%;
    background-color: #E4E2E2;
}

div#container {
    height: 100%;
    width: 100%;
    position: relative;
}

div#leftPanel {
    width: 10%;
}

div#rightPanel {
    width: 90%;
}

div.panel {
    position: relative;
    float: left;
    height: 100%;
    border: 1px solid #000000;
    padding: 5px;
}

div#leftContainer {
    height: 100%;
}

div#rightContainer {
    height: 100%;
    overflow-y: scroll;
}

div.panelContainer {
    background-color: #B5B4B4;
}

div#controlsContainer {
    color: white;
    padding: 5px;
}

.control {
    height: 20px;
    margin-bottom: 5px;
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    font-size: small;
    line-height: 20px;
    border-radius: 15px;
}

.control:hover {
    cursor: url("../images/openhand.cur"), auto;
}

.insert-image-button {
    height: 20px;
    width: 20px;
    background-image: url("../images/add.ico");
    background-size: 100% 100%;
    margin: 0 auto;
}

.insert-image-button:hover{
    cursor: pointer;
}

.right-container-dropped-image-container.fitContentToFrame {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0 10px 0;
    text-align: center;
}

.right-container-dropped-image-container.fitFrameToContent {
    min-height: 100px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0 10px 0;
    text-align: center;
}

/*img.imageDiv {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}*/

div.imageContainer {
    height: 100%;
    margin: auto;
}

.right-container-dropped-image-container.fitFrameToContent img.imageDiv{
    max-width: 100%;
}

.right-container-dropped-image-container.fitContentToFrame img.imageDiv{
    height: 100%;
    width: auto;
    max-width: 100%;
}

.right-container-field-seperator {
    margin: 10px auto 10px auto;
    height: 2px;
    border: 1px solid #000000;
}

.froala-editor {
    border-top: solid 1px #252525 !important;
}

.dragHelperDiv {
    height: 10px;
    width: 10px;
    border: 1px solid #ffffff;
}

#richTextControl, #imageControl{
    cursor: url(../images/openhand.cur), move;
}

.on-drag{
    cursor: url(../images/closedhand.cur), move;
}

div#topPanel {
    height: 40px;
    width: 100%;
}

div#topContainer{
    height: 100%;
    width: 100%;
}

div#exportHTML {
    height: 28px;
    width: 150px;
    color: white;
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    font-size: medium;
    line-height: 28px;
    border-radius: 15px;
    float: right;
}

div#exportHTML:hover {
    cursor: pointer;
}
