
.innerBorder {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div#wrapperDiv {
    margin: 0 auto;
    height: 627px;
    width: 100%;
    background-color: #E4E2E2;
}

div#container {
    height: 100%;
    width: 100%;
    position: relative;
}

div#leftPanel {
    width: 10%;
}

div#rightPanel {
    width: 90%;
}

div.panel {
    position: relative;
    float: left;
    height: 100%;
    border: 1px solid #000000;
    padding: 5px;
}

div#leftContainer {
    height: 100%;
}

div#rightContainer {
    height: 100%;
    overflow-y: scroll;
}

div.panelContainer {
    background-color: #B5B4B4;
}

div#controlsContainer {
    color: white;
    padding: 5px;
}

.control {
    height: 20px;
    margin-bottom: 5px;
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    font-size: small;
    line-height: 20px;
    border-radius: 15px;
}

.control:hover {
    cursor: url("../images/openhand.cur"), auto;
}

.insert-image-button {
    height: 20px;
    width: 20px;
    background-image: url("../images/add.ico");
    background-size: 100% 100%;
    margin: 0 auto;
}

.right-container-dropped-image-container {
    height: 100px;
    background-color: #ffffff;
    padding: 10px;
}

img.imageDiv {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

div#imageContainer {
    height: 100%;
    width: 100px;
    margin: 0 auto;
}

.right-container-field-seperator {
    margin: 10px auto 10px auto;
    height: 2px;
    border: 1px solid #000000;
}

.froala-editor {
    border-top: solid 1px #252525 !important;
}